@import url("webfont.css");

html, body {
	background-color: black;
	color: white;
	font-family: "Determination Sans", Fixedsys, sans-serif;
	font-weight: normal;
	font-size: 24px;
	text-align: center;
}

#rumbling_oooo {
	display: inline-block;
	position: relative;
	margin-top: 40px;
	width: 500px;
	height: 500px;
	overflow: hidden;
}

#brainpower_text{
	position: relative;
	font-size: 240px;
	line-height: 160px;
}

.brainpower_japanese{
	font-size: 120px !important;
}

#brainpower_bg{
	position: absolute;
	background-color: white;
	left: 0;
	right: 0;
	bottom: 0;
}


@font-face {
    font-family: 'Determination Sans';
    src: url('DeterminationMonoWeb.woff') format('woff');
}

a { text-decoration: none; color: #00ffff; }

div#bottom_options { opacity: 0.3; font-size: 60%; transition: all 0.3s linear; }
div#bottom_options:hover { opacity: 1; }
